<div class="header-wrapper" [class.menu-open]="isMenuOpen()">
  <button class="hamburger" (click)="toggleMenu()">
    @if (!isMenuOpen()) {
      <svg viewBox="0 0 24 24" fill="none" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path d="M4 18L20 18" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path>
          <path d="M4 12L20 12" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path>
          <path d="M4 6L20 6" stroke="#ffffff" stroke-width="2" stroke-linecap="round"></path>
        </g>
      </svg>
    } @else {
      <svg viewBox="0 0 24 24" fill="none" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <g id="Menu / Close_SM">
            <path id="Vector" d="M16 16L12 12M12 12L8 8M12 12L16 8M12 12L8 16" stroke="#ffffff" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </g>
      </svg>
    }
  </button>
  <div class="header-wrapper__links">
    <ul>
      @for (link of links(); track link) {
        <li>
          <a [routerLink]="link.href"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="closeMenu()"
          >{{ link.label }}</a>
        </li>
      }
    </ul>
  </div>
</div>
